/*

  Insert Galaxy Menu styles here to recreate the look of galaxy-restaurant-menu.pdf.

*/

*{
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
}
h1, h2, h3{
    text-align: center;
}

/*h3 {
  border: solid 1px red;
}*/

body{
  /*text-align: center;*/
  /*width: 70%*/
  background-color: #f0fff0;
}

h1 {
  background-color: orange;

}

#container {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

section{
  margin-top: 20px;
  border: solid orange 1px;
  overflow: hidden;
}

.feature.avocado-burger,
.feature.sushi-donuts{
  float: left;
  /*margin: 1%;
  width: 48%;*/
  margin: 10px;
  width: calc(50% - 20px);
}

.combo-item.beer,
.combo-item.fries,
.combo-item.burger{
  float: left;
  /*margin: 1%;
  width: 48%;*/
  margin: 10px;
  width: calc(33.33% - 20px);
}

.dessert{
  float: left;
  width: 47%;
  margin: 10px;
  position: relative;

}

.dessert h4{
  position: absolute;
  background-color: black;
  color: white;
  padding: 5px;
  top: 8px;
  right: 8px;
}

section.desserts{
  position: relative;
}

.desserts h2{
  font-size: 20px;
  border: dashed 2px brown;
  display: inline-block;
  position: absolute;
  z-index: 1;
  background-color: white;
  padding: 10px;
  top: 44%;
  left: 41%;
  border-radius: 10px;
}

.cake, .cats-in-blanket{
  margin-bottom: 25px;

}

footer{
  position: absolute;
  right: -10px;
  bottom: -10px;
}

footer h3{
  /*position: absolute;*/
  width: 100px;
  z-index: 2;
  color: white;
  background: green;
  font-size: 16px;
  /*bottom: 5px;*/
  padding: 20px;
}

/*
.desserts.cake{
  float: left;
  margin: 10px;
  /*width: calc(50% - 20px);*/
/*}*/

/*.desserts.cats-in-blanket{*/
  /*float: right;*/
  /*margin: 10px;*/
  /*width: calc(50% - 20px;*/
/*}*/





/*img{
  float: left;
  width: 50%;
}
.features{
  overflow: hidden;
}*/
